In [1]:
import numpy as np
import pandas as pd

GroupBy

In [3]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100,200,150,250,120,180,200,300],
    'Quantity': [10,15,12,18,8,20,15,25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [4]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [5]:
# Group by category and calculate the sum of series

In [6]:
df.groupby('Category')

In [7]:
cat = df.groupby('Category')
cat
for i,v in cat:
    print(i)
    print(v)

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S1    120         8 2023-01-05
6        A    S2    200        15 2023-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
7        B    S1    300        25 2023-01-08

In [9]:
cat = df.groupby('Category')['Sales'].sum()
cat

Category
A    570
B    930
Name: Sales, dtype: int64

In [10]:
# Group by Multiple columns

In [11]:
# Group by Category & Store
cat = df.groupby(['Category','Store'])['Sales'].sum()
cat

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

Aggregation

In [18]:
df['Sales'].mean()      # Mean

np.float64(187.5)

In [19]:
df['Sales'].median()    # Median

190.0

In [21]:
df['Sales'].max()       # Maximum

300

In [24]:
# aggregation function
df['Sales'].agg(['mean', 'median', 'max', 'min', 'std', 'var', 'sum', 'count', lambda x: x.mode()[0]])

mean         187.500000
median       190.000000
max          300.000000
min          100.000000
std           66.062741
var         4364.285714
sum         1500.000000
count          8.000000
<lambda>     200.000000
Name: Sales, dtype: float64